---
apiVersion: v1
kind: Secret
metadata:
  name: heketi-secret
  namespace: kube-system
stringData:
  key: {{ heketi_password }}
type: kubernetes.io/glusterfs
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: gfs
parameters:
  resturl: http://192.168.10.233:18080
  clusterid: "8a4ff57af81910e8324368a23afe3bdc"
  restauthenabled: "true"
  restuser: admin
  secretName: heketi-secret
  secretNamespace: kube-system
  gidMax: "50000"
  gidMin: "40000"
  volumetype: replicate:3
provisioner: kubernetes.io/glusterfs