---
kind: Secret
apiVersion: v1
metadata:
  name: ceph-admin-secret
  namespace: {{ rbd_provisioner_namespace }}
type: Opaque
data:
  secret: {{ ceph_admin_secret | b64encode }}
---
kind: Secret
apiVersion: v1
metadata:
  name: ceph-user-secret
  namespace: {{ rbd_provisioner_namespace }}
type: Opaque
data:
  key: {{ ceph_user_secret | b64encode }}
