- block:
  - block:
    - block:
      - name: Create repository backup directory
        file:
          path: /etc/yum.repos.d/bak
          state: directory

      - name: Backup the old repository
        shell: "sudo mv -f /etc/yum.repos.d/*.repo /etc/yum.repos.d/bak >/dev/null 2>&1 || sudo ls /etc/yum.repos.d/ >/dev/null 2>&1"

      - name: Remove other repository
        file:
          path: /etc/yum.repos.d/*
          state: absent
      when: ansible_distribution in [ 'CentOS','RedHat','EulerOS','Kylin Linux Advanced Server' ]

    - block:
      - name: Create repository backup directory
        file:
          path: /etc/apt/bak
          state: directory

      - name: Backup the old repository
        shell: "sudo mv -f /etc/apt/*.list /etc/apt/bak >/dev/null 2>&1 || sudo ls /etc/apt/ >/dev/null 2>&1"

      - name: Remove other repository
        file:
          path: /etc/apt/*
          state: absent
      when: ansible_distribution in [ 'Ubuntu','Debian','Kylin' ]
    when: yum_operate == 'replace'

  - name: Install yum-plugin-protectbase rpm package
    yum:
      name: yum-plugin-protectbase
      state: latest
    when:
    - yum_operate == 'coexist'
    - ansible_distribution in [ 'CentOS','RedHat','EulerOS' ]

  - name: Insert yum record
    blockinfile:
      path: "/etc/yum.conf"
      block: "sslverify=0"
      state: present
    when: ansible_distribution in [ 'CentOS','RedHat','EulerOS','Kylin Linux Advanced Server' ]

  - block:
    - name: RedHat | Add amd64 offline repository
      template:
        src: kubeops.repo.amd64.j2
        dest: /etc/yum.repos.d/kubeops.repo
      when: architectures == 'amd64'

    - name: RedHat | Add arm64 offline repository
      template:
        src: kubeops.repo.arm64.j2
        dest: /etc/yum.repos.d/kubeops.repo
      when: architectures == 'arm64'
    when: ansible_distribution in [ 'CentOS','RedHat' ]

  - block:
    - name: EulerOS | Add amd64 offline repository
      template:
        src: kubeops.repo.amd64-euler.j2
        dest: /etc/yum.repos.d/kubeops.repo
      when: architectures == 'amd64'

    - name: EulerOS | Add arm64 offline repository
      template:
        src: kubeops.repo.arm64-euler.j2
        dest: /etc/yum.repos.d/kubeops.repo
      when: architectures == 'arm64'
    when: ansible_distribution in [ 'EulerOS' ]

  - block:
    - name: Debian (amd64)| Add apt repository
      template:
        src: ubuntu_sources_amd64.j2
        dest: /etc/apt/sources.list
      when: architectures == "amd64"

    - name: Debian (arm64) | Add apt repository
      template:
        src: ubuntu_sources_arm64.j2
        dest: /etc/apt/sources.list
      when: architectures == "arm64"
    when: ansible_distribution in [ 'Ubuntu','Debian','Kylin' ]

  - name: Kylin Linux Advanced Server | Add arm64 offline repository
    template:
      src: kylin_v10_rpm_arm64.j2
      dest: /etc/yum.repos.d/kubeops.repo
    when:
    - architectures == 'arm64'
    - ansible_distribution in [ 'Kylin Linux Advanced Server' ]

  - name: Kylin | Add arm64 offline repository
    template:
      src: kylin_v10_deb_arm64.j2
      dest: /etc/apt/sources.list
    when:
    - architectures == 'arm64'
    - ansible_distribution in [ 'Kylin' ]
  when: yum_operate != 'no'