[Global]
user = "{{ vc_username }}"
password = "{{ vc_password }}"
server = "{{ vc_host }}"
port = "{{ vc_port }}"
datacenter = "{{ datacenter }}"
datastore = "{{ datastore }}"
working-dir = "{{ folder }}"
insecure-flag = "1"

[Disk]
scsicontrollertype = pvscsi