# 国内镜像加速
docker_mirror:
  - "{{ registry_protocol }}://{{ registry_hostname }}:{{ registry_port }}"
  - "{{ registry_protocol }}://{{ dns_repository_hostname }}:{{ registry_port }}"
  - "https://reg-mirror.qiniu.com"
  - "https://hub-mirror.c.163.com"

# 信任的不安全镜像库地址，默认为 Pod 和 Service 网段
docker_insecure_registries:
  - "{{ registry_hostname }}:{{ registry_port }}"
  - "{{ registry_hostname }}:{{ registry_hosted_port }}"
  - "{{ dns_repository_hostname }}:{{ registry_hosted_port }}"
  - "{{ dns_repository_hostname }}:{{ registry_port }}"
  - "{{ kube_pod_subnet }}"
  - "{{ kube_service_subnet }}"

# docker日志相关
docker_log_driver: "json-file"
docker_log_level: "warn"
docker_log_max_size: "10m"
docker_log_max_file: 3

# 并行镜像下载数量
docker_max_concurrent_downloads: 10