- name: Prepare directory
  file: name={{ item }} state=directory
  with_items:
  - "{{ etcd_data_dir }}"

- name: Download etcd file
  get_url:
    validate_certs: no
    url: "{{ etcd_download_url }}"
    dest: "{{ base_dir }}/"
    timeout: "{{ download_timeout_online }}"
  tags: upgrade_etcd

- name: Unarchive etcd file
  unarchive:
    src: "{{ base_dir }}/etcd-{{ etcd_version }}-linux-{{ architectures }}.tar.gz"
    dest: "{{ base_dir }}/"
    remote_src: yes
  tags: upgrade_etcd

- name: Copy etcd file
  copy:
    src: "{{ base_dir}}/etcd-{{ etcd_version }}-linux-{{ architectures }}/{{ item }}"
    dest: "{{ bin_dir }}/"
    remote_src: yes
    mode: "0755"
  with_items:
  - etcd
  - etcdctl
  tags: upgrade_etcd

- name: Arm64 | Setup system ETCD_UNSUPPORTED_ARCH variable
  lineinfile:
    dest: "/etc/bashrc"
    line: 'export ETCD_UNSUPPORTED_ARCH=arm64'
    remote_src: yes
  when: architectures == "arm64"

- name: Create etcd systemd unit file
  template: src=etcd.service.j2 dest=/etc/systemd/system/etcd.service
  tags: upgrade_etcd

- name: Enable etcd service
  shell: systemctl enable etcd
  ignore_errors: true

- name: Start etcd service
  shell: systemctl daemon-reload && systemctl restart etcd
  ignore_errors: true
  tags: upgrade_etcd

- name: Wait etcd service to start
  shell: "systemctl status etcd.service|grep Active"
  register: etcd_status
  until: '"running" in etcd_status.stdout'
  retries: 8
  delay: 8
  tags: upgrade_etcd
