- include_tasks: centos.yml
  when: ansible_distribution in [ 'CentOS','RedHat','EulerOS' ]

- name: Systemctl daemon-reload
  systemd:
    daemon_reload: yes

- name: Restart kubelet service
  service:
    name: kubelet
    state: restarted
    enabled: yes

- name: Upgrade kubectl command completions
  shell: "{{ bin_dir }}/kubectl completion bash > /usr/share/bash-completion/completions/kubectl"