[Global]
cluster-id = "{{ cluster_name }}"

[VirtualCenter "{{ vc_host }}"]
insecure-flag = "true"
user = "{{ vc_username }}"
password = "{{ vc_password }}"
port = "{{ vc_port }}"
datacenters = "{{ datacenter }}"