apiVersion: v1
kind: ConfigMap
metadata:
  name: internal-feature-states.csi.vsphere.vmware.com
  namespace: kube-system
data:
  "csi-migration": "false"
{% if vc_version >= "7.0" %}
  "csi-auth-check": "true"
{% else %}
  "csi-auth-check": "false"
{% endif %}
  "online-volume-extend": "true"
  "trigger-csi-fullsync": "false"
  "async-query-volume": "true"
  "improved-csi-idempotency": "true"
  "improved-volume-topology": "true"
  "block-volume-snapshot": "false"
  "csi-windows-support": "false"
  "use-csinode-id": "true"
  "pv-to-backingdiskobjectid-mapping": "false"
  "cnsmgr-suspend-create-volume": "false"
