[EulerOS-Base]
name=EulerOS-2.0SP8 base
baseurl={{ registry_protocol }}://{{ registry_hostname }}:{{repo_port}}/repository/euler-base/2.8/os/$basearch/
enabled=1
gpgcheck=1
gpgkey={{ registry_protocol }}://{{ registry_hostname }}:{{repo_port}}/repository/euler-base/2.8/os/RPM-GPG-KEY-EulerOS
protect=1

[Centos-epel]
name=CentOS epel
baseurl={{ registry_protocol }}://{{ registry_hostname }}:{{repo_port}}/repository/centos-epel/7/$basearch/
enabled=1
gpgcheck=0
protect=1
