deb {{ registry_protocol }}://{{ registry_hostname }}:{{repo_port}}/repository/kylin-base/KYLIN-ALL 10.1 main restricted universe multiverse
deb {{ registry_protocol }}://{{ registry_hostname }}:{{repo_port}}/repository/kylin-base/KYLIN-ALL 10.1-hwe main
deb {{ registry_protocol }}://{{ registry_hostname }}:{{repo_port}}/repository/kylin-deb/kylin/production/PART-V10-SP1/custom/partner/V10-SP1 default all