deb {{ registry_protocol }}://{{ registry_hostname }}:{{ repo_port }}/repository/{{ ubuntu_apt_url }}-{{ ansible_distribution_release }} {{ ansible_distribution_release }} main restricted universe multiverse
deb {{ registry_protocol }}://{{ registry_hostname }}:{{ repo_port }}/repository/{{ ubuntu_apt_url }}-{{ ansible_distribution_release }} {{ ansible_distribution_release }}-security main restricted universe multiverse
deb {{ registry_protocol }}://{{ registry_hostname }}:{{ repo_port }}/repository/{{ ubuntu_apt_url }}-{{ ansible_distribution_release }} {{ ansible_distribution_release }}-updates main restricted universe multiverse
# deb {{ registry_protocol }}://{{ registry_hostname }}:{{ repo_port }}/repository/{{ ubuntu_apt_url }}-{{ ansible_distribution_release }} {{ ansible_distribution_release }}-proposed main restricted universe multiverse
# deb {{ registry_protocol }}://{{ registry_hostname }}:{{ repo_port }}/repository/{{ ubuntu_apt_url }}-{{ ansible_distribution_release }} {{ ansible_distribution_release }}-backports main restricted universe multiverse
deb-src {{ registry_protocol }}://{{ registry_hostname }}:{{ repo_port }}/repository/{{ ubuntu_apt_url }}-{{ ansible_distribution_release }} {{ ansible_distribution_release }} main restricted universe multiverse
deb-src {{ registry_protocol }}://{{ registry_hostname }}:{{ repo_port }}/repository/{{ ubuntu_apt_url }}-{{ ansible_distribution_release }} {{ ansible_distribution_release }}-security main restricted universe multiverse
deb-src {{ registry_protocol }}://{{ registry_hostname }}:{{ repo_port }}/repository/{{ ubuntu_apt_url }}-{{ ansible_distribution_release }} {{ ansible_distribution_release }}-updates main restricted universe multiverse
# deb-src {{ registry_protocol }}://{{ registry_hostname }}:{{ repo_port }}/repository/{{ ubuntu_apt_url }}-{{ ansible_distribution_release }} {{ ansible_distribution_release }}-proposed main restricted universe multiverse
# deb-src {{ registry_protocol }}://{{ registry_hostname }}:{{ repo_port }}/repository/{{ ubuntu_apt_url }}-{{ ansible_distribution_release }} {{ ansible_distribution_release }}-backports main restricted universe multiverse