deb {{ registry_protocol }}://{{ registry_hostname }}:{{repo_port}}/repository/kylin-base/KYLIN-ALL 10.0 main universe multiverse restricted
deb {{ registry_protocol }}://{{ registry_hostname }}:{{repo_port}}/repository/kylin-deb/kylin/production/PART-V10/custom/partner/V10 default all