deb {{ registry_protocol }}://{{ registry_hostname }}:{{ repo_port }}/repository/apt-proxy-{{ ubuntu_version }} {{ ubuntu_version }} main restricted universe multiverse
deb {{ registry_protocol }}://{{ registry_hostname }}:{{ repo_port }}/repository/apt-proxy-{{ ubuntu_version }} {{ ubuntu_version }}-security main restricted universe multiverse
deb {{ registry_protocol }}://{{ registry_hostname }}:{{ repo_port }}/repository/apt-proxy-{{ ubuntu_version }} {{ ubuntu_version }}-updates main restricted universe multiverse
# deb {{ registry_protocol }}://{{ registry_hostname }}:{{ repo_port }}/repository/apt-proxy-{{ ubuntu_version }} {{ ubuntu_version }}-proposed main restricted universe multiverse
# deb {{ registry_protocol }}://{{ registry_hostname }}:{{ repo_port }}/repository/apt-proxy-{{ ubuntu_version }} {{ ubuntu_version }}-backports main restricted universe multiverse
deb-src {{ registry_protocol }}://{{ registry_hostname }}:{{ repo_port }}/repository/apt-proxy-{{ ubuntu_version }} {{ ubuntu_version }} main restricted universe multiverse
deb-src {{ registry_protocol }}://{{ registry_hostname }}:{{ repo_port }}/repository/apt-proxy-{{ ubuntu_version }} {{ ubuntu_version }}-security main restricted universe multiverse
deb-src {{ registry_protocol }}://{{ registry_hostname }}:{{ repo_port }}/repository/apt-proxy-{{ ubuntu_version }} {{ ubuntu_version }}-updates main restricted universe multiverse
# deb-src {{ registry_protocol }}://{{ registry_hostname }}:{{ repo_port }}/repository/apt-proxy-{{ ubuntu_version }} {{ ubuntu_version }}-proposed main restricted universe multiverse
# deb-src {{ registry_protocol }}://{{ registry_hostname }}:{{ repo_port }}/repository/apt-proxy-{{ ubuntu_version }} {{ ubuntu_version }}-backports main restricted universe multiverse