deb {{ registry_protocol }}://{{ registry_hostname }}:{{ repo_port }}/repository/ubuntu-proxy bionic main restricted universe multiverse
deb {{ registry_protocol }}://{{ registry_hostname }}:{{ repo_port }}/repository/ubuntu-proxy bionic-security main restricted universe multiverse
deb {{ registry_protocol }}://{{ registry_hostname }}:{{ repo_port }}/repository/ubuntu-proxy bionic-updates main restricted universe multiverse
deb {{ registry_protocol }}://{{ registry_hostname }}:{{ repo_port }}/repository/ubuntu-proxy bionic-proposed main restricted universe multiverse
deb {{ registry_protocol }}://{{ registry_hostname }}:{{ repo_port }}/repository/ubuntu-proxy bionic-backports main restricted universe multiverse
deb-src {{ registry_protocol }}://{{ registry_hostname }}:{{ repo_port }}/repository/ubuntu-proxy bionic main restricted universe multiverse
deb-src {{ registry_protocol }}://{{ registry_hostname }}:{{ repo_port }}/repository/ubuntu-proxy bionic-security main restricted universe multiverse
deb-src {{ registry_protocol }}://{{ registry_hostname }}:{{ repo_port }}/repository/ubuntu-proxy bionic-updates main restricted universe multiverse
deb-src {{ registry_protocol }}://{{ registry_hostname }}:{{ repo_port }}/repository/ubuntu-proxy bionic-proposed main restricted universe multiverse
deb-src {{ registry_protocol }}://{{ registry_hostname }}:{{ repo_port }}/repository/ubuntu-proxy bionic-backports main restricted universe multiverse