kind: EncryptionConfig
apiVersion: v1
resources:
  - resources:
    - secrets
    providers:
    - {{ kube_encryption_algorithm }}:
        keys:
        - name: key
          secret: "GPG4RC0Vyk7+Mz/niQPttxLIeL4HF96oRCcBRyKNpfM="
    - identity: {}