- name: Disable swap
  shell: "swapoff -a && sysctl -w vm.swappiness=0"
  ignore_errors: true

- name: Delete fstab swap config
  lineinfile:
    path: /etc/fstab
    regexp: 'swap'
    state: absent
    backup: yes

- name: Load kernel module
  modprobe: 
    name: "{{ item }}"
    state: present
  with_items:
  - sunrpc
  - ip_vs
  - ip_vs_rr
  - ip_vs_sh
  - ip_vs_wrr
  - br_netfilter
  ignore_errors: true

- name: Load nf_conntrack for kernel < 4.19
  modprobe: 
    name: nf_conntrack_ipv4
    state: present
  when: ansible_kernel is version('4.19', '<')
  ignore_errors: true

- name: Load nf_conntrack for kernel >= 4.19
  modprobe: 
    name: nf_conntrack
    state: present
  when: ansible_kernel is version('4.19', '>=')
  ignore_errors: true

- name: Setup systemd-modules-load config
  template: 
    src: 10-k8s-modules.conf.j2
    dest: /etc/modules-load.d/10-k8s-modules.conf

- name: Restart systemd-modules-load
  service:
    name: systemd-modules-load
    state: restarted
    enabled: yes

- name: Set system parameters
  template: 
    src: 99-sysctl-ko.conf.j2
    dest: /etc/sysctl.d/99-sysctl-ko.conf

- name: Effective system parameters
  shell: "sysctl -p /etc/sysctl.d/99-sysctl-ko.conf"
  ignore_errors: true

- name: Create systemd directory
  file: 
    name: /etc/systemd/system.conf.d 
    state: directory 

- name: Setup system ulimits
  template: 
    src: 30-k8s-ulimits.conf.j2
    dest: /etc/systemd/system.conf.d/30-k8s-ulimits.conf

- name: Setup hostname
  shell: "hostnamectl set-hostname {{ inventory_hostname }}"
#  hostname:
#    name: "{{ inventory_hostname }}"