# 公共系统参数设置
- include_tasks: common.yml

# CentOS 系列|系统基础软件环境
- include_tasks: centos.yml
  when: ansible_distribution in [ 'CentOS','RedHat','EulerOS','openEuler','Kylin Linux Advanced Server' ]

# Debian 系列|系统基础软件环境
- include_tasks: debian.yml
  when: ansible_distribution in [ 'Ubuntu','Debian','Kylin' ]

- name: Prepare some directory
  file:
    name: "{{ item }}"
    state: directory
  with_items:
  - "{{ bin_dir }}"
  - "{{ ansible_env.PWD }}/.kube"
  - "{{ ansible_env.HOME }}/.kube"