[Centos-CUDA]
name=CentOS CUDA
baseurl={{ registry_protocol }}://{{ registry_hostname }}:{{repo_port}}/repository/centos-cuda/rhel7/$basearch/
enabled=1
gpgcheck=0

[Centos-libnvidia-containe]
name=CentOS libnvidia-containe
baseurl={{ registry_protocol }}://{{ registry_hostname }}:{{repo_port}}/repository/libnvidia-container/centos7/$basearch/
enabled=1
gpgcheck=0

[Centos-nvidia-container-runtime]
name=nvidia-container-runtime
baseurl={{ registry_protocol }}://{{ registry_hostname }}:{{repo_port}}/repository/nvidia-container-runtime/centos7/$basearch
gpgcheck=0
enabled=1

[Centos-nvidia-docker]
name=nvidia-docker
baseurl={{ registry_protocol }}://{{ registry_hostname }}:{{repo_port}}/repository/nvidia-docker/centos7/$basearch
gpgcheck=0
enabled=1